@font-face {
    font-family: 'nightside';
    src: local('nightside'),
    url(./fonts/nightside.ttf);
}

@font-face {
    font-family: 'fragment';
    src: local('fragment'),
    url(./fonts/fragment.ttf);
}


body {
    background-color: rgb(255, 247, 237);
    font-family: 'fragment';
}

a {
    color:rgb(57, 3, 63);
}

#app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer {
    position: fixed;
    bottom: 10px;
}

.main-page {
    width: 95vw; 
    min-height: 95vh; 
    border: 1px solid pink;
    display:flex;
    flex-direction: row;
}
.main-page-left {
    width: 50%;
    border: 1px solid green;
}
.main-page-right {
    width: 50%;
    background-image: url(./images/domenic-betters-mushroomhex.jpg);
    background-size: cover;
    background-position: bottom;
}

.menu-box {
    border: solid 2px black;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    width: fit-content;
    padding: 60px;
    margin:60px;
    font-size: 3em;
}